body{
    background: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 36px;
}


#time-container{
    width: 35%;
    float: left;
    padding: 15px;
}

#time{
    font-size: 40px
}

#date{
    padding-top: 5px;
    font-size: 26px;
}

#weather-container{
    width: 48%;
    float: right;
    padding: 15px;
    text-align: right;
}



#weather-container i{
    font-size: 40px;
}

#today-degree{
    font-size: 40px;
    padding: 0px;
}

#lohi{
    width: 100%;
    font-size: 26px;
    padding-top: 5px;
}




#upcoming div{
    font-size: 26px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#upcoming i{
    font-size: 30px;
}

#calendar{
    font-size: 18px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#line{
    width: 100%;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 8px;
    /* //margin-left: 11px; */
    background-color: white;
    padding: 0%;
}

#line2{
    width: 100%;
    height: 3px;
    margin-top: 5px;
    margin-bottom: 8px;
    /* margin-left: 11px; */
    background-color: white;
    padding: 0%;
}



